<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
  <div class="text-center">
    <h4>Daftar Soal</h4>
  </div><!-- /.ml-2 -->
  <hr />
  <ul class="nav nav-pills ml-2">
    <li class="list-soal active"><a href="#step1" id="coba1" data-local="768" class="btn btn-info btn-block" data-toggle="tab" data-step="1">1</a></li>
    <li class="list-soal"><a href="#step2" id="coba2" data-local="769" class="btn btn-info btn-block" data-toggle="tab" data-step="2">2</a></li>
    <li class="list-soal"><a href="#step2" id="coba2" data-local="769" class="btn btn-info btn-block" data-toggle="tab" data-step="2">3</a></li>
    <li class="list-soal"><a href="#step2" id="coba2" data-local="769" class="btn btn-info btn-block" data-toggle="tab" data-step="2">4</a></li>
    <li class="list-soal"><a href="#step2" id="coba2" data-local="769" class="btn btn-info btn-block" data-toggle="tab" data-step="2">5</a></li>
    <li class="list-soal"><a href="#step2" id="coba2" data-local="769" class="btn btn-info btn-block" data-toggle="tab" data-step="2">6</a></li>
    <li class="list-soal"><a href="#step2" id="coba2" data-local="769" class="btn btn-info btn-block" data-toggle="tab" data-step="2">7</a></li>
    <li class="list-soal"><a href="#step2" id="coba2" data-local="769" class="btn btn-info btn-block" data-toggle="tab" data-step="2">8</a></li>
    <li class="list-soal"><a href="#step2" id="coba2" data-local="769" class="btn btn-info btn-block" data-toggle="tab" data-step="2">9</a></li>
    <li class="list-soal"><a href="#step2" id="coba2" data-local="769" class="btn btn-info btn-block" data-toggle="tab" data-step="2">10</a></li>
    <li class="list-soal"><a href="#step2" id="coba2" data-local="769" class="btn btn-info btn-block" data-toggle="tab" data-step="2">7</a></li>
    <li class="list-soal"><a href="#step2" id="coba2" data-local="769" class="btn btn-info btn-block" data-toggle="tab" data-step="2">8</a></li>
    <li class="list-soal"><a href="#step2" id="coba2" data-local="769" class="btn btn-info btn-block" data-toggle="tab" data-step="2">9</a></li>
    <li class="list-soal"><a href="#step2" id="coba2" data-local="769" class="btn btn-info btn-block" data-toggle="tab" data-step="2">10</a></li>
    <div class="hidden-md hidden-lg">
      &nbsp;&nbsp;<i class="fa fa-arrow-down fa-2x"></i>
    </div>
  </ul>
</nav>
