<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">

  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#">Tugas Terbaru</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Tugas Terlambat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Tugas Sudah Dinilai</a>
    </li>
  </ul>

  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#">Ulangan Saya</a>
    </li>
  </ul>
</nav>
