<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">

  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" href="belajar.html">&laquo; Daftar Pelajaran</a>
    </li>
  </ul>

  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#">Materi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Tugas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Ujian</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Siswa</a>
    </li>
  </ul>
</nav>
