<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">

  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" href="belajar-detail.html">&laquo; Matematika</a>
    </li>
  </ul>

  <ol class=" nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#">Pengenalan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sejarah</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Penemu Kalkulus</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Kalkulus Dalam Kehidupan Nyata</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Pengenalan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sejarah</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Penemu Kalkulus</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Kalkulus Dalam Kehidupan Nyata</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Pengenalan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sejarah</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Penemu Kalkulus</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Kalkulus Dalam Kehidupan Nyata</a>
    </li>
  </ul>
</nav>
