/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem; }

/*
 * Typography
 */
h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee; }

a {
  color: #2ea5ba; }
  a:hover {
    color: #298496; }

/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee; }

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0; }

.sidebar .nav {
  margin-bottom: 20px; }

.sidebar .nav-item {
  width: 100%; }

.sidebar .nav-item + .nav-item {
  margin-left: 0; }

.sidebar .nav-link {
  border-radius: 0; }

/*
 * Dashboard
 */
/* Placeholders */
.placeholders {
  padding-bottom: 3rem; }

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

/* Header */
.bg-dark {
  background-color: #2ea5ba !important; }

.card {
  box-shadow: 0px 1px 2px 0px rgba(132, 132, 132, 0.5); }
  .card:hover {
    box-shadow: 0px 2px 4px 0px rgba(75, 75, 75, 0.5); }

/* Ujian */
.panel-jawaban .btn {
  white-space: normal;
  cursor: pointer; }
.panel-jawaban label {
  text-align: left;
  padding: 15px 15px 5px 15px; }
.panel-jawaban input {
  float: right;
  margin-left: 15px; }

.progress-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(132, 132, 132, 0.5); }
  .progress-container .progress {
    margin-bottom: 0; }

.list-soal {
  margin: 5px;
  min-width: 60px; }

/*# sourceMappingURL=style.css.map */
